/* ==========================================================================
   PROJECTS SECTION
   ========================================================================== */

#welcome-section {
    text-align: center;
    padding-top: 1rem;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-tile {
    text-align: center;
    margin: 0;

    img {
        height: 20rem;
        padding: 1rem;
    }

    p  {
        padding: 0 0 10px 0;
    }

    h5 {
        padding: 0;
    }
}


